<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Load D3.js-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>

    <title>Globe Page</title>
  </head>
  <body>
        <!--Collapsable navigation bar: common to all pages-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Health Care and Human Rights <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item-dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="SlideMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pages
                  </a>
                <div class="dropdown-menu dropdown-menu-right" id="#SlideMenu">
                  <a class="dropdown-item" href="about.html">About</a>
                  <a class="dropdown-item" href="dataviz.html">Explore the Data</a>
                  <a class="dropdown-item" href="globe.html">Explore the Globe</a>
                  <a class="dropdown-item" href="index.html">Main Page</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!--Main body on landing page, grid for maps-->
    <div class="globe" id="globe_1">

    </div>
    <div class="container mt-2 mt-md-5 text-light bg-secondary">
      Last updated 06-22-2019 by UCBX Health Data Team
      <a class="container-link text-warning" href="https://opensource.org/licenses/MIT" target="_blank">
          MIT Open Source License</a>,??
          on <a href="https://github.com/dcalara/right-to-healthcare" target="_blank">Github</a> for details.
    <!-- Local js-->
    <script type="text/javascript" src="../static/js/globe-logic.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>